<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <a href="add_server.html">添加</a>
</div>
<div align="center">
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>IP地址</th>
            <th>端口号</th>
            <th>服务名称</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for row in server_list %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.ip }}</td>
                <td>{{ row.port }}</td>
                <td>{{ row.server_name }}</td>
                <td>
                    <a href="delete_server.html?nid={{ row.id }}">删除</a>
                    |
                    <a href="edit_server.html?nid={{ row.id }}">编辑</a>
                    |
                    <a href="deploy_server.html?nid={{ row.id }}">发包</a>
                    |
                    <a href="restart_server.html?nid={{ row.server_name }}">重启</a>
                    |
                    <a href="check_logs.html?nid={{ row.server_name }}">查看日志</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>